DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD_HASH=REPLACE_WITH_GENERATED_HASH
DASHBOARD_SECRET_KEY=REPLACE_WITH_RANDOM_STRING
DASHBOARD_VIDEO_ROOT=/mnt/videoserver
DASHBOARD_PLAYER=ffmpeg
DASHBOARD_ENCODER=libx264
DASHBOARD_RTMP_URL=rtmp://127.0.0.1/demo
SRS_PORT=Your_port